.App {
  text-align: center;
}

.App-logo-Nav {
  height: 6vmin;
  margin: auto auto;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #282c34; */
  color: black;
  padding: 0 20px;
  height: 60px;
}

.link {
  text-decoration: none;
  color: black;
}

.body p {
  margin: 0px 70px 40px 70px;
}

.Contacts p {
  margin: 0px 70px 40px 70px;
}

.logos {
  height: 30px;
}

.logo {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.circle {
  border-radius: 50%;
}

.BottomP {
  margin-top: 50px;
}

.Projects p {
  margin: 0px 70px 40px 70px;
}

.project {
  margin: 0px 70px 40px 70px;
  text-align: left;
}

footer {
  /* background-color: #282c34; */
  color: black;
  height: 60px;
  padding: 20px 0;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 25px;
}

footer div a {
  color: grey;
}